In [1]:
import pandas as pd
import seaborn as sns

df=sns.load_dataset('mpg')

In [2]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [3]:
df.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [4]:
df.shape

(398, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [6]:
print(df.dtypes)
print('*'*10)
df.mpg.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model year        int64
origin           object
name             object
dtype: object
**********

dtype('float64')

In [7]:
print(df.describe())
print('*'*10)
print(df.describe(include='all'))

              mpg   cylinders  displacement  horsepower       weight  \
count  398.000000  398.000000    398.000000  392.000000   398.000000
mean    23.514573    5.454774    193.425879  104.469388  2970.424623
std      7.815984    1.701004    104.269838   38.491160   846.841774
min      9.000000    3.000000     68.000000   46.000000  1613.000000
25%     17.500000    4.000000    104.250000   75.000000  2223.750000
50%     23.000000    4.000000    148.500000   93.500000  2803.500000
75%     29.000000    8.000000    262.000000  126.000000  3608.000000
max     46.600000    8.000000    455.000000  230.000000  5140.000000

       acceleration  model year
count    398.000000  398.000000
mean      15.568090   76.010050
std        2.757689    3.697627
min        8.000000   70.000000
25%       13.825000   73.000000
50%       15.500000   76.000000
75%       17.175000   79.000000
max       24.800000   82.000000
**********
               mpg   cylinders  displacement  horsepower       weight  \
count   398.000000  398.000000    398.000000  392.000000   398.000000
unique         NaN         NaN           NaN         NaN          NaN
top            NaN         NaN           NaN         NaN          NaN
freq           NaN         NaN           NaN         NaN          NaN
mean     23.514573    5.454774    193.425879  104.469388  2970.424623
std       7.815984    1.701004    104.269838   38.491160   846.841774
min       9.000000    3.000000     68.000000   46.000000  1613.000000
25%      17.500000    4.000000    104.250000   75.000000  2223.750000
50%      23.000000    4.000000    148.500000   93.500000  2803.500000
75%      29.000000    8.000000    262.000000  126.000000  3608.000000
max      46.600000    8.000000    455.000000  230.000000  5140.000000

        acceleration  model year origin        name
count     398.000000  398.000000    398         398
unique           NaN         NaN      3         305
top              NaN         NaN    usa  ford pinto
freq             NaN         NaN    249           6
mean       15.568090   76.010050    NaN         NaN
std         2.757689    3.697627    NaN         NaN
min         8.000000   70.000000    NaN         NaN
25%        13.825000   73.000000    NaN         NaN
50%        15.500000   76.000000    NaN         NaN
75%        17.175000   79.000000    NaN         NaN
max        24.800000   82.000000    NaN         NaN

In [17]:
print(df.count())
print('*'*10)
print(type(df.count()))

mpg             398
cylinders       398
displacement    398
horsepower      392
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64
**********
<class 'pandas.core.series.Series'>

In [18]:
print(df['origin'].value_counts())
print('*'*10)
print(type(df['origin'].value_counts()))

usa       249
japan      79
europe     70
Name: origin, dtype: int64
**********
<class 'pandas.core.series.Series'>

In [10]:
print(df.mean())
print('*'*10)
print(df['mpg'].mean())
print('*'*10)
print(df.mpg.mean())
print('*'*10)
print(df[['mpg','weight']].mean())

mpg               23.514573
cylinders          5.454774
displacement     193.425879
horsepower       104.469388
weight          2970.424623
acceleration      15.568090
model year        76.010050
dtype: float64
**********
23.514572864321615
**********
23.514572864321615
**********
mpg         23.514573
weight    2970.424623
dtype: float64

/var/folders/n2/4d2sw9gd3z9c6ld6fljb35440000gn/T/ipykernel_2968/2728985481.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.mean())

In [11]:
print(df.median())
print('*'*10)
print(df['mpg'].median())

mpg               23.0
cylinders          4.0
displacement     148.5
horsepower        93.5
weight          2803.5
acceleration      15.5
model year        76.0
dtype: float64
**********
23.0

/var/folders/n2/4d2sw9gd3z9c6ld6fljb35440000gn/T/ipykernel_2968/2376825712.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.median())

In [12]:
print(df.max())
print('*'*10)
print(df['mpg'].max())

mpg                         46.6
cylinders                      8
displacement               455.0
horsepower                 230.0
weight                      5140
acceleration                24.8
model year                    82
origin                       usa
name            vw rabbit custom
dtype: object
**********
46.6

In [13]:
print(df.min())
print('*'*10)
print(df['mpg'].min())

mpg                                 9.0
cylinders                             3
displacement                       68.0
horsepower                         46.0
weight                             1613
acceleration                        8.0
model year                           70
origin                           europe
name            amc ambassador brougham
dtype: object
**********
9.0

In [14]:
print(df.std())
print('*'*10)
print(df['mpg'].std())

mpg               7.815984
cylinders         1.701004
displacement    104.269838
horsepower       38.491160
weight          846.841774
acceleration      2.757689
model year        3.697627
dtype: float64
**********
7.815984312565782

/var/folders/n2/4d2sw9gd3z9c6ld6fljb35440000gn/T/ipykernel_2968/4072075708.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.std())

In [15]:
display(df.corr())
print('*'*10)
df[['mpg','weight']].corr()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year
mpg,1.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289,0.579267
cylinders,-0.775396,1.000000,0.950721,0.842983,0.896017,-0.505419,-0.348746
displacement,-0.804203,0.950721,1.000000,0.897257,0.932824,-0.543684,-0.370164
horsepower,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196,-0.416361
weight,-0.831741,0.896017,0.932824,0.864538,1.000000,-0.417457,-0.306564
acceleration,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,1.000000,0.288137
model year,0.579267,-0.348746,-0.370164,-0.416361,-0.306564,0.288137,1.000000

**********

             mpg    weight
mpg     1.000000 -0.831741
weight -0.831741  1.000000