In [3]:
import pandas as pd

print("문제 1")

data1 = (10, 20, 30, 40, 50)

sr1 = pd.Series(data1)
print(type(sr1),"\n", sr1)

<class 'pandas.core.series.Series'>
 0    10
1    20
2    30
3    40
4    50
dtype: int64

In [34]:
import pandas as pd

print("문제 2")

sr2 = pd.Series(data1, index=["a", "b", "c", "d", "e"])
print(type(sr2), "\n", sr2)

문제 2
<class 'pandas.core.series.Series'>
 a    10
b    20
c    30
d    40
e    50
dtype: int64

In [10]:
import pandas as pd

print("문제 3")

data2 = {"학생1": "둘리", "학생2": "또치", "학생3": "도우너", "학생4": "희동이", "학생5": "마이콜"}

sr3 = pd.Series(data2)
print(type(sr3),"\n", sr3)

<class 'pandas.core.series.Series'>
 학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [17]:
import pandas as pd

print("문제 4")

data3 = ("둘리", "또치", "도우너", "희동이", "마이콜")

sr4 = pd.Series(data3, index=["학생1", "학생2", "학생3", "학생4", "학생5"])
print(type(sr4),"\n", sr4)

문제 4
<class 'pandas.core.series.Series'>
 학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [16]:
import pandas as pd

print("문제 5")

blood = ["A형", "B형", "O형", "AB형"]
st = [34.2, 27.1, 26.7, 11.5]

sr = pd.Series(st, index=blood)

sr_index = sr.index
sr_values = sr.values

print("[시리즈 sr 출력]\n", sr, "\n")

print("[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]\n", sr[0], "\n", sr[-1], "\n", sr[1], "\n", sr[1:], "\n")

print("[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]\n", sr["A형"], "\n", sr["AB형"], "\n", sr["B형"], "\n", sr["B형":], "\n")

print("[시리즈 sr의 크기 출력]\n", sr.count(), "\n")

print("[시리즈 sr의 인덱스 출력]\n", sr.index, "\n")

print("[시리즈 sr의 데이터 값 출력]\n", sr.values, "\n")

[시리즈 sr 출력]
 A형     34.2
B형     27.1
O형     26.7
AB형    11.5
dtype: float64

[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(숫자인덱스 사용)]
 34.2
 11.5
 27.1
 B형     27.1
O형     26.7
AB형    11.5
dtype: float64

[시리즈 sr에서 인덱싱과 슬라이싱하여 출력(이름인덱스 사용)]
 34.2
 11.5
 27.1
 B형     27.1
O형     26.7
AB형    11.5
dtype: float64

[시리즈 sr의 크기 출력]
 4

[시리즈 sr의 인덱스 출력]
 Index(['A형', 'B형', 'O형', 'AB형'], dtype='object')

[시리즈 sr의 데이터 값 출력]
 [34.2 27.1 26.7 11.5]

In [24]:
import pandas as pd

print("문제 6")

data4=[["둘리",90,99,90],["또치",80,98,70],["도우너",70,97,70],["희동이",70,46,60]]

df1=pd.DataFrame(data4, columns=["name", "kor", "eng", "mat"])
print(type(df1),"\n",df1,"\n")

문제 6
<class 'pandas.core.frame.DataFrame'>
   name  kor  eng  mat
0   둘리   90   99   90
1   또치   80   98   70
2  도우너   70   97   70
3  희동이   70   46   60

In [26]:
import pandas as pd

print("문제 7")

df2=pd.DataFrame(data4, index=["학생1","학생2","학생3","학생4"], columns=["name", "kor", "eng", "mat"])
print(type(df2),"\n",df2,"\n")

문제 7
<class 'pandas.core.frame.DataFrame'>
     name  kor  eng  mat
학생1   둘리   90   99   90
학생2   또치   80   98   70
학생3  도우너   70   97   70
학생4  희동이   70   46   60

In [33]:
import pandas as pd

print("문제 8")

df3=df2.copy()

df3.index = ['st1', 'st2', 'st3', 'st4']
df3.columns = ['dooly','doochi','dounar','heedong']
print(type(df3),"\n",df3,"\n")

문제 7
<class 'pandas.core.frame.DataFrame'>
     dooly  doochi  dounar  heedong
st1    둘리      90      99       90
st2    또치      80      98       70
st3   도우너      70      97       70
st4   희동이      70      46       60

In [76]:
import pandas as pd

print("문제 9")

data={'name':['듀크1','듀크2','듀크3','듀크4','듀크5','듀크6','듀크7'],
      'kor':[90,80,70,70,60,70,90],
      'eng':[99,98,97,46,77,56,90],
      'mat':[90,70,70,60,88,99,90]}

df=pd.DataFrame(data)

print("앞에서 5행 출력\n",df.head(),"\n")

print("뒤에서 5행 출력\n",df.tail(),"\n")

print("컬럼명들을 출력\n",df.columns,"\n")

print("name 컬럼만 출력 추출 시, []사용\n",df["name"],"\n")

print("eng 컬럼만 출력 추출 시, . 사용\n",df.eng,"\n")

print("kor과 mat 컬럼만 출력\n",df[["kor", "mat"]],"\n")

print("iloc 인덱서를 사용하여 4 번째 행 출력\n",df.iloc[3],"\n")

print("iloc 인덱서를 사용하여 1 번째 행, 1 번째 열 출력\n",df.iloc[0,0],"\n")

print("iloc 인덱서를 사용하여 4 번째 행, 3 번째 열 출력\n",df.iloc[3,2],"\n")

print("iloc 인덱서를 사용하여 3, 4 번째 행의 3 번째 열 출력\n",df.iloc[[2, 3], 2],"\n")

print("iloc 인덱서를 사용하여 3, 4 번째 행의 3, 4 번째 열 출력\n",df.iloc[[2, 3], [2, 3]],"\n")

print("loc 인덱서를 사용하여 1 번째 행, 1 번째 열 출력\n",df.loc[0, "name"],"\n")

print("loc 인덱서를 사용하여 4 번째 행, 3 번째 열 출력\n",df.loc[3, "eng"],"\n")

print("loc 인덱서를 사용하여 3, 4 번째 행의 3 번째 열 출력\n",df.loc[[2, 3], "eng"],"\n")

print("loc 인덱서를 사용하여 3, 4 번째 행의 3, 4 번째 열 출력\n",df.loc[[2, 3], ["eng", "mat"]],"\n")

문제 9
앞에서 5행 출력
   name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88

뒤에서 5행 출력
   name  kor  eng  mat
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90

컬럼명들을 출력
 Index(['name', 'kor', 'eng', 'mat'], dtype='object')

name 컬럼만 출력 추출 시, []사용
 0    듀크1
1    듀크2
2    듀크3
3    듀크4
4    듀크5
5    듀크6
6    듀크7
Name: name, dtype: object

eng 컬럼만 출력 추출 시, . 사용
 0    99
1    98
2    97
3    46
4    77
5    56
6    90
Name: eng, dtype: int64

kor과 mat 컬럼만 출력
    kor  mat
0   90   90
1   80   70
2   70   70
3   70   60
4   60   88
5   70   99
6   90   90

iloc 인덱서를 사용하여 4 번째 행 출력
 name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object

iloc 인덱서를 사용하여 1 번째 행, 1 번째 열 출력
 듀크1

iloc 인덱서를 사용하여 4 번째 행, 3 번째 열 출력
 46

iloc 인덱서를 사용하여 3, 4 번째 행의 3 번째 열 출력
 2    97
3    46
Name: eng, dtype: int64

iloc 인덱서를 사용하여 3, 4 번째 행의 3, 4 번째 열 출력
    eng  mat
2   97   70
3   46   60

loc 인덱서를 사용하여 1 번째 행, 1 번째 열 출력
 듀크1

loc 인덱서를 사용하여 4 번째 행, 3 번째 열 출력
 46

loc 인덱서를 사용하여 3, 4 번째 행의 3 번째 열 출력
 2    97
3    46
Name: eng, dtype: int64

loc 인덱서를 사용하여 3, 4 번째 행의 3, 4 번째 열 출력
    eng  mat
2   97   70
3   46   60

In [75]:
import pandas as pd

print("문제 10")

df.set_index(["name"], inplace=True)
print(df)

문제 10
      kor  eng  mat
name
듀크1    90   99   90
듀크2    80   98   70
듀크3    70   97   70
듀크4    70   46   60
듀크5    60   77   88
듀크6    70   56   99
듀크7    90   90   90