In [55]:
import pandas as pd

data = {
    'name':['둘리', '또치', '도우너', '희동이'],
    'kor':[90, 80, 70, 70],
    'eng':[99, 98, 97, 46],
    'mat':[90, 70, 70, 60],
}
df = pd.DataFrame(data)
print(df)

  name  kor  eng  mat
0   둘리   90   99   90
1   또치   80   98   70
2  도우너   70   97   70
3  희동이   70   46   60

In [56]:
import pandas as pd

print("문제 1\n")

df["class"] = ["1반", "2반", "1반", "2반"]
print(df)

문제 1

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반

In [57]:
import pandas as pd

print("문제 2\n")

df.loc[4] = ["마이콜", 80, 80, 80, "1반"]
print(df)

문제 2

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반
4  마이콜   80   80   80    1반

In [58]:
import pandas as pd

print("문제 3-1\n")

df.set_index(["name"], inplace=True)
df.columns=["국어", "영어", "수학", "반 번호"]
print(df)

문제 3-1

      국어  영어  수학 반 번호
name
둘리    90  99  90   1반
또치    80  98  70   2반
도우너   70  97  70   1반
희동이   70  46  60   2반
마이콜   80  80  80   1반

In [59]:
import pandas as pd

print("문제 4\n")

df.loc["마이콜", ["국어", "영어", "수학"]] = 100
df.loc["희동이", "영어"] = 90
print(df)

문제 4

       국어   영어   수학 반 번호
name
둘리     90   99   90   1반
또치     80   98   70   2반
도우너    70   97   70   1반
희동이    70   90   60   2반
마이콜   100  100  100   1반

In [60]:
import pandas as pd

print("문제 5\n")

df=df.reset_index()
print(df)
df.rename(columns={"name":"성명"}, inplace=True)
print(df)

문제 5

  name   국어   영어   수학 반 번호
0   둘리   90   99   90   1반
1   또치   80   98   70   2반
2  도우너   70   97   70   1반
3  희동이   70   90   60   2반
4  마이콜  100  100  100   1반
    성명   국어   영어   수학 반 번호
0   둘리   90   99   90   1반
1   또치   80   98   70   2반
2  도우너   70   97   70   1반
3  희동이   70   90   60   2반
4  마이콜  100  100  100   1반

In [61]:
import pandas as pd

print("문제 6\n")

df1= df.sort_values(by="국어", ascending=False)
print(df1)
df2= df.sort_values(by="영어", ascending=True)
print(df2)

문제 6

    성명   국어   영어   수학 반 번호
4  마이콜  100  100  100   1반
0   둘리   90   99   90   1반
1   또치   80   98   70   2반
2  도우너   70   97   70   1반
3  희동이   70   90   60   2반
    성명   국어   영어   수학 반 번호
3  희동이   70   90   60   2반
2  도우너   70   97   70   1반
1   또치   80   98   70   2반
0   둘리   90   99   90   1반
4  마이콜  100  100  100   1반

In [62]:
import pandas as pd

print("문제 7\n")

df_1=df.T
sr1=pd.Series(df_1.iloc[1])
sr2=pd.Series(df_1.iloc[2])
sr3=pd.Series(df_1.iloc[3])
sr_result=sr1+sr2+sr3
col_result=sr_result.T

df["총점"]=col_result
df=df.sort_values(by="총점", ascending=False)
print(df)

문제 7

    성명   국어   영어   수학 반 번호   총점
4  마이콜  100  100  100   1반  300
0   둘리   90   99   90   1반  279
1   또치   80   98   70   2반  248
2  도우너   70   97   70   1반  237
3  희동이   70   90   60   2반  220

In [64]:
import pandas as pd

print("문제 8\n")

df3=df.drop("반 번호", axis=1)
print("df3\n", df3, "\ndf\n",df)

문제 8

df3
     성명   국어   영어   수학   총점
4  마이콜  100  100  100  300
0   둘리   90   99   90  279
1   또치   80   98   70  248
2  도우너   70   97   70  237
3  희동이   70   90   60  220
df
     성명   국어   영어   수학 반 번호   총점
4  마이콜  100  100  100   1반  300
0   둘리   90   99   90   1반  279
1   또치   80   98   70   2반  248
2  도우너   70   97   70   1반  237
3  희동이   70   90   60   2반  220

In [66]:
import pandas as pd

print("문제 9\n")

df4=df.drop(4)
print("df4\n", df4, "\ndf\n",df)

문제 9

df4
     성명  국어  영어  수학 반 번호   총점
0   둘리  90  99  90   1반  279
1   또치  80  98  70   2반  248
2  도우너  70  97  70   1반  237
3  희동이  70  90  60   2반  220
df
     성명   국어   영어   수학 반 번호   총점
4  마이콜  100  100  100   1반  300
0   둘리   90   99   90   1반  279
1   또치   80   98   70   2반  248
2  도우너   70   97   70   1반  237
3  희동이   70   90   60   2반  220

In [70]:
import pandas as pd

print("문제 10\n")

data1 = {'kor':90, 'mat':80}
data2 = {'kor':90, 'eng':70}
data3 = {'kor':90, 'eng':70, 'mat':80}
series1 = pd.Series( data1 )
series2 = pd.Series( data2 )
series3 = pd.Series( data3 )
result = series1.add(series2.add(series3, fill_value=0), fill_value=0)
print(result)

문제 10

eng    140.0
kor    270.0
mat    160.0
dtype: float64

In [81]:
import pandas as pd

print("문제 11\n")

data = {
    'X1':[2.9, 2.4, 2, 2.3, 3.2],
    'X2':[9.2, 8.7, 7.2, 8.5, 9.6],
    'X3':[13.2, 11.5, 10.8, 12.3, 12.6],
    'X4':[2, 3, 4, 3, 2]
}

df = pd.DataFrame(data, index=['Y1','Y2','Y3', 'Y4', 'Y5'])

df.loc["Y6"]=[10, 20, 30, 40]

print("add Y6\n", df, "\n")

df_add = df + 10
print("add 10\n", df_add, "\n")

df_1=df_add.T
sr1=pd.Series(df_1.iloc[0])
sr2=pd.Series(df_1.iloc[1])
sr3=pd.Series(df_1.iloc[2])
sr4=pd.Series(df_1.iloc[3])
sr_result=sr1+sr2+sr3+sr4
col_result=sr_result.T

df_add["total"]=col_result
print("add total column\n", df_add, "\n")

df_T=df_add.T
print("transpose\n", df_T)

문제 11

add Y6
       X1    X2    X3  X4
Y1   2.9   9.2  13.2   2
Y2   2.4   8.7  11.5   3
Y3   2.0   7.2  10.8   4
Y4   2.3   8.5  12.3   3
Y5   3.2   9.6  12.6   2
Y6  10.0  20.0  30.0  40

add 10
       X1    X2    X3  X4
Y1  12.9  19.2  23.2  12
Y2  12.4  18.7  21.5  13
Y3  12.0  17.2  20.8  14
Y4  12.3  18.5  22.3  13
Y5  13.2  19.6  22.6  12
Y6  20.0  30.0  40.0  50

add total column
       X1    X2    X3  X4  total
Y1  12.9  19.2  23.2  12   67.3
Y2  12.4  18.7  21.5  13   65.6
Y3  12.0  17.2  20.8  14   64.0
Y4  12.3  18.5  22.3  13   66.1
Y5  13.2  19.6  22.6  12   67.4
Y6  20.0  30.0  40.0  50  140.0

transpose
          Y1    Y2    Y3    Y4    Y5     Y6
X1     12.9  12.4  12.0  12.3  13.2   20.0
X2     19.2  18.7  17.2  18.5  19.6   30.0
X3     23.2  21.5  20.8  22.3  22.6   40.0
X4     12.0  13.0  14.0  13.0  12.0   50.0
total  67.3  65.6  64.0  66.1  67.4  140.0