In [2]:
import pandas as pd

print("read csv")

df_1 = pd.read_csv('data/read_csv_sample.csv')
print(df_1, "\n", "*" * 80)
df_2 = pd.read_csv('data/read_csv_sample.csv', header=None)
print(df_2, "\n", "*" * 80)
df_3 = pd.read_csv('data/read_csv_sample.csv', index_col=None)
print(df_3, "\n", "*" * 80)
df_4 = pd.read_csv('data/read_csv_sample.csv', index_col='c0')
print(df_4)

read csv
   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9
 ********************************************************************************
    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9
 ********************************************************************************
   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9
 ********************************************************************************
    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

In [3]:
print("read excel")
df_5 = pd.read_excel('data/남북한발전전력량.xlsx', engine='openpyxl')
df_6 = pd.read_excel('data/남북한발전전력량.xlsx', engine='openpyxl', header=None)
print(df_5, "\n", "*" * 80)
print(df_6)

read excel
  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]
 ********************************************************************************
          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

In [4]:
print("read json")
df_7 = pd.read_json('data/read_json_sample.json')
print(df_7, '\n', df_7.index)

read json
           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True
 Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

In [5]:
print("read html")
tables = pd.read_html('data/sample.html')
print(len(tables))
for i in range(len(tables)):
    print("tables[%s]" % i)
    print(tables[i], '\n')
df_8 = tables[1]
df_8.set_index(['name'], inplace=True)
print(df_8)

read html
2
tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9

tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

In [11]:
from bs4 import BeautifulSoup
import requests
import re

print("read etf list")
resp = requests.get("https://en.wikipedia.org/wiki/List_of_American_exchange-traded_funds")
soup = BeautifulSoup(resp.text, 'lxml')
rows = soup.select('ul > li')

etfs = {}
for row in rows:
    try:
        etf_name = re.findall('^(.*) \(NYSE', row.text)
        etf_market = re.findall('\((.*)\|', row.text)
        etf_ticker = re.findall('NYSE Arca\|(.*)\)', row.text)
        
        if (len(etf_ticker) > 0) & (len(etf_market) > 0) & (len(etf_name) > 0):
            etfs[etf_ticker[0]] = [etf_market[0], etf_name[0]]
            
    except AttributeError as err:
        pass
    
print(type(etfs), "\n", etfs, "\n", "*" * 80)

df_8 = pd.DataFrame(etfs)

print(df_8)

read etf list
<class 'dict'>
 {}
 ********************************************************************************
Empty DataFrame
Columns: []
Index: []

In [8]:
import googlemaps

print("read google geocoding API")

maps = googlemaps.Client(key="AIzaSyDmlql8tp6NzBIU8Gl4X1zw0vKCbd4pzE0")  # my key값 입력
lat = []
lng = []
i = 0
for place in ["광화문", "협재해수욕장", "예술의전당"]:
    i = i + 1
    try:
        print(i, place)
        geo_location = maps.geocode(place)[0].get('geometry')
        lat.append(geo_location['location']['lat'])
        lng.append(geo_location['location']['lng'])
        
    except:
        lat.append('')
        lng.append('')
        print(i)


df_9 = pd.DataFrame({'위도': lat, '경도': lng}, index=["광화문", "협재해수욕장", "예술의전당"])
print(df_9)

read google geocoding API
1 광화문
2 협재해수욕장
3 예술의전당
               위도          경도
광화문     37.575877  126.976812
협재해수욕장  33.394132  126.239728
예술의전당   37.478609  127.011307

In [12]:
print("write csv")
family_data = {"num": [0, 1, 2], 'oochoo': [93, 11, 18], 'mydong': [91, 5, 27], 'dalgom': [22, 1, 15],
               'puleum': [21, 1, 4]}
df_10 = pd.DataFrame(family_data, index=['year', 'month', 'date'])
df_10.set_index('num', inplace=True)
print(df_10)
df_10.to_csv("output/df_10.csv")

write csv
     oochoo  mydong  dalgom  puleum
num
0        93      91      22      21
1        11       5       1       1
2        18      27      15       4

In [13]:
print("write json")
family_data = {"num": [0, 1, 2], 'oochoo': [93, 11, 18], 'mydong': [91, 5, 27], 'dalgom': [22, 1, 15],
               'puleum': [21, 1, 4]}
df_11 = pd.DataFrame(family_data, index=['year', 'month', 'date'])
df_11.set_index('num', inplace=True)
print(df_11)
df_11.to_json("output/df_11.json")

write json
     oochoo  mydong  dalgom  puleum
num
0        93      91      22      21
1        11       5       1       1
2        18      27      15       4

In [14]:
print("write excel basic")
family_data = {"num": [0, 1, 2], 'oochoo': [93, 11, 18], 'mydong': [91, 5, 27], 'dalgom': [22, 1, 15],
               'puleum': [21, 1, 4]}
df_12 = pd.DataFrame(family_data, index=['year', 'month', 'date'])
df_12.set_index('num', inplace=True)
print(df_12)
df_12.to_excel("output/df_12.xlsx")

print("=" * 80, "\n write excel into several sheets")
family_data = {'num': ['zero', 'one', 'two'], 'oochoo': ["ninety_three", "eleven", "eighteen"],
               'mydong': ["ninety_one", "five", "twenty_seven"], 'dalgom': ["twenty_two", "one", "fifteen"]}
number_data = {'col_0': [0, 1, 2], 'col_1': [93, 11, 18], 'col_2': [91, 5, 27], 'col_3': [22, 1, 15],
               'col_4': [22, 1, 4]}

df_13 = pd.DataFrame(family_data)
df_13.set_index('num', inplace=True)
print(df_13, "\n", "*" * 80)

df_14 = pd.DataFrame(number_data)
df_14.set_index('col_0', inplace=True)
print(df_14)

write_sheets = pd.ExcelWriter("output/df_13and14.xlsx")
df_13.to_excel(write_sheets, sheet_name="family")
df_14.to_excel(write_sheets, sheet_name="number")
write_sheets.save()

write excel basic
     oochoo  mydong  dalgom  puleum
num
0        93      91      22      21
1        11       5       1       1
2        18      27      15       4
================================================================================
 write excel into several sheets
            oochoo        mydong      dalgom
num
zero  ninety_three    ninety_one  twenty_two
one         eleven          five         one
two       eighteen  twenty_seven     fifteen
 ********************************************************************************
       col_1  col_2  col_3  col_4
col_0
0         93     91     22     22
1         11      5      1      1
2         18     27     15      4